@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@layer base {
  :root {
    --primary: #2f6595;
    --secondary: #70bcff;
    --shadow: #74b1e7;
  }
}

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.btn-primary {
  background: linear-gradient(to top, #70bcff, #1782e0);
}

.btn-primary:hover {
  background: linear-gradient(to right, #1782e0, #70bcff);
}

.btn-secondary {
  background: linear-gradient(to top, #f2faff, #afddff);
}
.btn-fitur {
  background: linear-gradient(190deg, #74b1e7, #2f6595);
}

.nav-link {
  @apply relative text-lg font-medium text-gray-600 pb-1 after:absolute after:left-0 after:bottom-0 
  after:h-0.75 after:w-0 after:rounded-full after:bg-blue-900 after:transition-all 
  after:duration-300 after:ease-out hover:after:w-full hover:text-gray-800;
}

@layer utilities {
  .animate-in {
    animation: animateIn 0.7s ease-out;
  }
}
@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
